$font-title: "Roboto", sans-serif;
$font-body: "Poppins", sans-serif;
$primary-color: #b38a4c;
$secondary-color: #fff7c8;
$dark-green: #22333b;
$dark-red: #53131e;
$rose-ebony: #5a464c;
$breakpoint-large-screen: 1200px;
$breakpoint-tablet: 890px;
$breakpoint-mobile: 600px;

.bokning-open-text {
  width: 50%;
  margin: 5rem auto 5rem;
  text-align: center;

  h1 {
    color: $primary-color;
    font-family: $font-stack;
    font-size: 2.5rem;
    margin: 40px auto;
  }

  h2 {
    color: $rose-ebony;
    font-size: 1.7rem;
  }

  p {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }
}

.btn-bokning {
  background-color: $dark-red;
  color: white;
  border-radius: 2em;
}

.btn-bokning:hover {
  background-color: #79434c;
  color: white;
}

/* Container som tar upp 100% bredd och en fast höjd */
.slideshow-container {
  width: 100vw; /* Tar upp hela viewportens bredd */
  height: 50vh; /* Bestäm en höjd (kan justeras) */
  overflow: hidden; /* Skrolla bort allt som går utanför */
  position: relative;
}

/* Slideshow som innehåller alla bilder */
.slideshow {
  display: flex;
  width: 800%; /* 8 bilder = 100% * 8 (för 8 bilder, justera om det är färre eller fler) */
  height: 100%;
  animation: slide 40s ease-in-out infinite; /* Total animationstid: 8 bilder * 5 sekunder per bild = 40s */
}

/* Individuella bilder */
.slideshow img {
  height: 100%;
  object-fit: cover; /* Håll proportioner men täck hela ytan */
}

/* Animation för att skapa långsam övergång och stanna vid varje bild */
@keyframes slide {
  0% {
    transform: translateX(0); /* Första bilden */
  }
  12.5% {
    transform: translateX(0); /* Första bilden stannar i 5 sekunder */
  }
  25% {
    transform: translateX(-100vw); /* Andra bilden */
  }
  37.5% {
    transform: translateX(-100vw); /* Andra bilden stannar */
  }
  50% {
    transform: translateX(-200vw); /* Tredje bilden */
  }
  62.5% {
    transform: translateX(-200vw); /* Tredje bilden stannar */
  }
  75% {
    transform: translateX(-300vw); /* Fjärde bilden */
  }
  87.5% {
    transform: translateX(-300vw); /* Fjärde bilden stannar */
  }
  100% {
    transform: translateX(0); /* Återgå till första bilden */
  }
}
