$font-title: "Roboto", sans-serif;
$font-body: "Poppins", sans-serif;
$primary-color: #B38A4C;
$secondary-color: #FFF7C8;
$dark-green: #22333B;
$dark-red: #53131E;
$rose-ebony: #5A464C;
$breakpoint-large-screen: 1200px;
$breakpoint-tablet: 890px;
$breakpoint-mobile: 600px;


.index {
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(34,51,59,1));
}

.current-puppies {
    width: 60%;
    margin: 40px auto 0px auto;
    padding: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;

    h1 {
        color: $primary-color;
        font-family: $font-title;
        font-size: 2.5rem;
        margin: auto;
        
    }

    p {
        font-size: 1rem;
        font-family: $font-body;
        font-weight: 300;
        max-width: 80%;
        margin: 40px auto;
    }

    .sub-text {
        font-size: 0.9rem;
    } 
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin: 40px auto;
    gap: 40px;

    .img-and-label {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        img {
            border-radius: 20px;
            position: relative;
            width: 100%;
            height: auto;
        }

        span {
            background-color: #ebeaea;
            color: $dark-red;
            padding: 20px;
            border-radius: 20px;
            position: absolute;
            width: 20%;
            opacity: 0.8;
            font-family: $font-body;
            font-weight:600; 
            font-size: 1.5rem;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
    }
}

.wala-cert {
    margin: auto;
    width: 100%;

    div { 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: auto;
        gap: 10%;

        img {
            margin: 60px;
        }

        p {
            color: $dark-red;
            font-family: $font-body;
            font-size: 1.5rem;
            max-width: 30rem;
        }
        a {
            color: $dark-red;
        }
    }
}

.quote-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 400px;
    // background-color: #ebeaea;
    

    .quote {
        width: 70%;

        p {
            color: $dark-red;
            font-family: $font-body;
            font-size: 2rem;
            font-weight: 500;
            font-style: italic;
            text-align: center;
        }
    }
}

.interest-and-plans {
    width: 60%;
    margin: auto;
}

.card-container {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0px auto 80px auto;
}

.card {
    width: 50%;
    border-width: 0;

    img {
        border-radius: 15px 15px 0 0;
    }

    .card-body {
        background-color: #ebeaea;
        text-align: center;
        border-radius: 0px 0px 15px 15px;
        min-height: 20rem;

        h2 {
            color: $dark-red;
            font-family: $font-title;
            font-size: 1.7rem;
            font-weight: 400;
            margin: 40px;
            text-wrap: none;
            
        }
        
        p {
            color: $dark-green;
            font-family: $font-body;
            font-size: 1rem;
            font-weight: 400;
            margin: 20px auto;
            max-width: 20rem;
        }
        a[role=button] {
            position: absolute;
            bottom: 40px;
            background-color: $dark-red;
            width: 50%;
            border: none;
            font-size: 1em;
            border-radius: 2em;
            padding: 15px 15px;
            margin: auto;
            left: 50%;  
            transform: translateX(-50%);
          }

        a[role=button]:hover {
            background-color: $rose-ebony;
        }
        
    }
}

.about-labradoodle {
   display: flex;
   flex-direction: column;
   justify-content: center;

    .img-container {
        position: relative;
        margin: auto;
        overflow: hidden;
        width: 100%;
        height: 30vw;
       
        img {
            position: absolute;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -65%);
            min-height: 100%;
            min-width: 100%;
        }
    }
    
    h3 {
        color: $secondary-color;
        font-family: $font-title;
        font-size: 1.5rem;
        max-width: 50%;
        text-align: center;
        margin: 60px auto;
        
    }

    p {
        color: white;
        font-family: $font-body;
        font-size: 1rem;
        max-width: 50%;
        text-align: center;
        margin: 0 auto 60px auto;
        line-height: 1.7rem;
    }

    a {
        margin: 0 auto 60px auto;
    }

    .index-button {
        padding: 1rem;
    }

    .index-button:active:focus {
        background-color: $primary-color; 
    }

    .index-button:focus {
        background-color: $primary-color;
    }
}




@media (max-width: $breakpoint-large-screen) {
    
    .interest-and-plans {
        width: 90%;
        margin: auto;
    }

    .card-body {
        h2 {
            margin: auto;
        }
    }
    .wala-cert {
    
        div { 
            img {
                width: 40%;
            }
            p {
                color: #ebeaea;
                font-size: 1.2rem;
                font-weight: 600;
                margin: 60px auto;
            }

            a {
                color: #ebeaea;
            }
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .current-puppies {
        width: 80%;
        padding: 20px;
    }

    .image-container {
        flex-wrap: wrap;

        .img-and-label {
    
            span {
                width:25%;
            }
        }
    }

    .interest-and-plans {
        width: 80%;
        margin: auto;
    }

    .card-container {
        flex-wrap: wrap;
        margin: auto;
        padding: 20px 0px;
    }

    .card {
        width: 90%;
    }

    .card-body {
        h2 {
            margin: auto;
        }
    }  

    .wala-cert {
    
        div { 
            img {
                margin: 60px 0px;
            }
    
            p {
                color: #ebeaea;
                font-size: 1.1rem;
                font-weight: 600;
                margin: 60px auto;
            }

            a {
                color: #ebeaea;
            }
        }
    }

    .about-labradoodle {
        display: flex;
        flex-direction: column;
        justify-content: center;
     
         .img-container {
             height: 70vw;
         }
     
         p {
             max-width: 70%;
            
         }
    }
}
@media (max-width: $breakpoint-mobile) { 
    .current-puppies {
        width: 90%;

        p {
            font-size: 0.9rem;
        }
    }

    .image-container {

        .img-and-label {
    
            span {
                width:40%;
            }
        }
    }

    .quote-box {
        .quote {

            p {
                font-size: 1.5rem;
            }
        }
    }

    .about-labradoodle {
        p {
            font-size: 0.8rem;
        }

        button {
            width: 90%;
            margin: auto;
        }
    }

    .wala-cert {
    
        div { 
            img {
                width: 40%;
            }
            p {
                color: #ebeaea;
                font-size: 0.9rem;
                font-weight: 600;
                margin: 60px auto;
            }

            a {
                color: #ebeaea;
            }
        }
    }

    .card {
        width: 90%;
    
        .card-body {
            height: 15rem;

            h2 {
                font-size: 1.5rem;
                
            }
            
            p {
                font-size: 0.9rem;
            }

            a[role=button] {
                bottom: 20px;
                font-size: 0.8em;
              }
            
        }
    }
}