/** {             
margin: 0;
padding: 0;
} Fråga om detta behövs?*/

main {
/*background-color:*/
}

.container-gdpr{              /*För section*/
	background-color: white;
  width: 1000px;
	margin-top: 100px; /*Fråga om det är ok med px?*/
	margin-left: auto;
	margin-right: auto;
  padding: 20px;
  /*text-align:*/
	/*width: 640px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;*/
}

/* .container-gdpr:nth-of-type(odd) {
  background-color:beige;
  }
  
  .container-gdpr:nth-of-type(even) {
  background-color:gray;
  } */

h1{
  color: #b38a4c;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem; /*2,5x16px (default value in most browsers)=ca40px. Using rem can help ensure consistency of font size and spacing throughout your UI.*/
 /*font-weight: 600; specify the boldness or thickness of the text*/
  margin: 60px 0px 8px;
  text-align: center;
}

h2{
  color: #53131E;
  padding-bottom: 15px; /*För att få avstånd mellan texten och rubriken*/
  font-size: 1.7rem;
}

a {
  color: #53131E;
}

.container-gdpr-item { /*div:arna*/
  
}

p {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300; 
  }

.list-gdpr {
        font-size: 1.2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    
      }

      /*Responsivitet, 2 breakpoints, hur gör man detta? 
      Nu har varje flik i hemsidan en egen css-fil. Hur kan man använda samma fil, så att man får samma utseende utan att dubbelarbeta?
      Tankar om min sida: Mycket text, man blir trött innan man ens börjat läsa. Tror en layout med "meny" eller transitions av något slag som delvis döljer delar av texten
      och även tydliggör vilken typ av information som finns så att användaren inte behöver läsa massa onödig text. Ex är man inte jobbsökande
      så behöver man ju inte ta del av detta. Layouten bör även utnyttja utrymmen, just nu mycket dött utrymme. 

