.container-gdpr { /*För section*/
	background-color: white;
  width: 60%; /*Ange i % och inte pixlar för att göra sidan responsiv*/
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
  padding: 20px;
  border-radius: 20px; /*Rundar kanterna*/
}

h1 {
  color: #b38a4c;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem; /*Förklaring: 2,5x16px (default value in most browsers)=ca40px. Using rem can help ensure consistency of font size and spacing throughout your UI.*/
  margin: 60px;
  text-align: center;
}

h2 {
  color: #53131E;
  padding-bottom: 5px; /*För att få avstånd mellan texten och rubriken*/
  font-size: 1.7rem;
  margin-top: 20px;
}

a {
  color: #53131E;
}

p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300; 
  }

.list-gdpr {
  font-size: 1.0rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 0;
  }

@media (max-width: 890px) {
  .container-gdpr {
  width: 80%;
 }
  }
@media (max-width: 600px) { 
  .container-gdpr { 
  width: 90%;
 }
  }