header {
  position: sticky;
  top: 0;
  background-color: rgba(35, 51, 59, 1); /* Fully opaque by default */
  color: white;
  text-align: center;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.scrolled {
  background-color: rgba(35, 51, 59, 0.8); /* 80% opacity when scrolled */
}

.navbar-brand {
  display: inline-block;
  text-align: center;
}

.home-logo {
  display: block;
  margin: 0 2rem;
  max-width: 100%;
  width: 10rem;
}

.logo-text {
  display: block;
  font-size: 1.1rem;
  margin-top: 5px;
  color: #caad82;
  font-family: "Poppins", sans-serif;
}

.navbar {
  padding: 0%;
}

.nav-link {
  color: white;
}

.nav-link:visited {
  color: white;
}

.nav-link:hover {
  color: #caad82;
}

.navbar-nav {
  font-size: 1.2rem;
}

.nav-item {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 2rem;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

 #myBtn:hover {
  color: #caad82;
 }

 #myBtn:focus  {
  outline: 2px solid rgb(84, 84, 249); 
  border: 2px solid white;    
 }  

@media (max-width: 768px) {
  .navbar .dropdown-menu {
    top: auto; /* Reset default positioning */
    bottom: 100%; /* Move it above the toggle */
    margin-bottom: 0; /* Reset margin if needed */
  }
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f2f2f2dc; /* Ändra färg när man hovrar */
  color: #53131e; /* Färg på texten vid hover */
}
@media (max-width: 991px) {
  .dropdown-item {
    text-align: center;
  }

  .btn-outline {
    margin-bottom: 1rem;
  }
}

.navbar-toggler{
  border: solid 1px #caad82;
  color: #caad82;
  padding: 4px 8px
}

.navbar-toggler-icon {
  background-color: #caad82;
}

/* Remove the focus outline when clicked */
.navbar-toggler:focus {
  outline: none; /* Removes the focus outline */
  box-shadow: none;   
}

/* För att säkerställa att dropdowns stängs korrekt på mobiler */
@media (max-width: 890px) {

.home-logo {
  width: 5rem;
}

.logo-text {
  font-size: 0.6rem;
}

.dropdown-menu {
  position: static; /* På mindre skärmar visas dropdowns inline */
  margin: 0 4rem 0;
}
}

.btn-outline {
  background-color: #caad82;
  margin: 0 2rem 0 1rem;
  color: rgba(35, 51, 59);
  border-radius: 2em;
  padding-left: 1rem;
  padding-right: 1rem;
  
}

.btn-outline:hover {
  background-color: #B38A4C;
}

.btn-outline:active:focus {
  background-color: #B38A4C;  
}

.btn-outline:focus {
  background-color: #B38A4C   ;
}


@media (max-width: 991px) {
  .btn-outline {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
}

.navbar-toggler{
  border: solid 1px #caad82;
  color: #caad82;
  padding: 4px 8px
}

.navbar-toggler-icon {
  background-color: #caad82;
}

/* Remove the focus outline when clicked */
.navbar-toggler:focus {
  outline: none; /* Removes the focus outline */
  box-shadow: none; 
}